{% extends 'base.html.twig' %}

{% block title %}Password Recovery! | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="limiter">
        <div class="container-login100" style="background-image: url('{{ asset('assets/images/bg-01.jpg') }}');">
			<div id="password-recovery-div"></div>
        </div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
        {% if code is defined and code != '' %}
		    const newPasswordUrl = "{{ path('new_password',{'code':code|default('')}) }}";
        {% else %}
            const newPasswordUrl = "";
        {% endif %}
        const loginUrl = "{{ path('app_login') }}";
        const passwordRecoveryUrl = "{{ path('password_recovery') }}";
        const signupUrl = "{{ path('app_register') }}";

		{% if error %}
			const error = {
				status: "{{ error.status|default('0') }}",
                message: "{{ error.message|default('') }}",
                action: "{{ error.action|default('') }}",
                alert: "{{ error.alert|default('') }}",
                username: "{{ error.username|default('') }}",
			};
		{% else %}
			const error = null;
		{% endif %}
	</script>
    <script src="{{ asset('build/passwordRecovery.js') }}"></script>
{% endblock %}